{%extends "head.html"%} {%block content%}
<div class="welcome">
  <div style="width: 49%; float: left">
    <h1 class="hDisplay">Your Budget Breakdown</h1>
    <ul class="displayList">
      <li>The first value is your goal.</li>
      <li>
        The second value represents the amount you need to save every month in
        order to reach your goal.
      </li>
      <li>
        The third value represents the amount you are able to spend each month
      </li>
      <li>
        The fourth value is the time it will take until in months until you
        reach your goal at this current saving rate.
      </li>
    </ul>
    <a
      href="{{ url_for('home_bp.getpdf', save=result['toSave'], spend=result['spendingMoney'], timetogoal=result['months'], goal=result['savingsGoal']) }}"
      ><button class="displayButton">Download File</button>
    </a>
    <form
      action="{{ url_for('home_bp.budgets', toSave=result['toSave'], spendingMoney=result['spendingMoney'], months=result['months'], savingsGoal=result['savingsGoal']) }}"
      method="POST"
    >
      <input type="hidden" name="param1" value="val" />
      <a href="#" onclick="this.parentNode.submit()"
        ><button class="displayButton">Save Budget</button></a
      >
    </form>
    <!-- <a
      href="{{ url_for('home_bp.budgets', toSave=result['toSave'], spendingMoney=result['spendingMoney'], months=result['months'], savingsGoal=result['savingsGoal']) }}"
      ><button class="displayButton">Save Budget</button>
    </a> -->
  </div>
  <div style="width: 49%; float: right; border: 1px solid #000">
    <h1 class="hformDisplay">Your Budget</h1>
    <form>
      <div
        style="
          width: 49%;
          float: left;
          padding-bottom: 5%;
          padding-top: 6%;
          border-right: 1px solid black;
        "
      >
        <br />
        <label class="textLabelDisplay" for="month">Goal</label><br />
        <br />
        <br />
        <label class="textLabelDisplay" for="monthPay">To Save</label><br />
        <br />
        <br />
        <label class="textLabelDisplay" for="savings">To Spend</label><br />
        <br />
        <br />
        <label class="textLabelDisplay" for="spending">Time Until Goal</label
        ><br />
        <br />
      </div>
      <div style="width: 49%; float: right; margin-bottom: 5%; padding-top: 5%">
        <br />
        <label class="displayLabel">${{ result['savingsGoal'] }}</label><br />
        <br />
        <br />
        <label class="displayLabel">${{ result['toSave'] }}</label><br />
        <br />
        <br />
        <label class="displayLabel">${{ result['spendingMoney'] }}</label><br />
        <br />
        <br />
        <label class="displayLabel">{{ result['months'] }} months</label>
        <br />
      </div>
    </form>
  </div>
</div>
{%endblock%}
