{%extends "head.html"%} {%block content%}
<div class="welcome">
  <h1 class="hMain">Welcome!</h1>
  <p class="welcomeP">
    Thank you for using out budget generator! This website allows you to
    generate and download a quick budget on the fly based on some values that
    you specify. This is currently in an early version and will have
    budget-saving capabilities and user login available in later releases
  </p>
  <a href="{{ url_for('home_bp.form') }}"><button class="quickButton">Make Quick Budget!</button></a>
</div>
{%endblock%}
