{%extends "head.html"%} {%block content%}
<div class="welcome">
  <div style="float: left">
    <h1>Your Budgets</h1>
  </div>
  <div style="float: right">
    <button class="displayButton">Toggle Filter Type</button>
  </div>
</div>
<div style="text-align: center; border: 1px solid black">
  <ol>
    <li>Try adding your first budget to get started!</li>
  </ol>
</div>
{% assets "js_all" %}
<script
  type="text/javascript"
  src="{{url_for('static', filename='saved_budgets.js')}}"
></script>
{% endassets %} {%endblock%}
